.about{
  height: 800px;
  width: 100%;
  color: white;
  text-align: center;
  background-image:  image-url("background.png");
  background-size:  cover;
  p{
    font-size: 24px;
    padding-top: 30px;
  }
}