.iine__button{
  background: linear-gradient(to right, #1b248c, rgb(90, 208, 216));
  line-height: 42px;
  color: #000000;
  font-size: 14px;
  display: inline-block;
  padding: 0 18px;
  border-radius: 100px;
  font-weight: bold;
  height: 42px;
  width: 50px;
}